{% extends 'base.html' %}

{% block content %}
<h2>Register</h2>
<form method="POST">
    {{ form.hidden_tag() }}
    <div>
        <label for="username">Username:</label>
        {{ form.username() }}
    </div>
    <div>
        <label for="password">Password:</label>
        {{ form.password() }}
    </div>
    <div>
        <label for="confirm_password">Confirm Password:</label>
        {{ form.confirm_password() }}
    </div>
    <div>
        <button type="submit">Register</button>
    </div>
</form>
{% endblock %}
